body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('assets/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #fff; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: #fff;
  padding: 2em;
  background: linear-gradient(to bottom, #0a192f, #020c1b); /* Navy blue gradient */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

main{
  text-align: center;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0 ;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin-right: 10em; 
}

.main-nav a {
  text-decoration: none;
  text-align: center;
  color: white; 
  padding: 0.8em;
  transition: background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: black;
}

main {
  padding: 0;
}

section {
  margin-bottom: 30px;
}

h1 {
  font-size: 2em;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.project h2 {
  margin-top: 0;
}

.project a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.project a:hover {
  background-color: #555;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #0a192f, #020c1b);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact{
  text-align: center;
}

.contact a {
  color: #fff;
  text-decoration: none;

  font-size: 2em; 
  display: flex;
  justify-content: center;
}

.contact a:visited {
  color: white; 
}

.contact a:active {
  color: #ffcc00; 
}

.contact a:hover{
  color: black;
}