body {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
  background-image: url('assets/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: #fff; 
  display: flex;
  flex-direction: column;
  min-height: unset;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 2em;
  background: linear-gradient(to bottom, #0a192f, #020c1b); /* Navy blue gradient */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

main{
  text-align: center;
  margin-bottom: 1em;

}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0 ;
  display: flex;
  justify-content: center;
}

.main-nav li {
  margin-right: 10em; 
}

.main-nav a {
  text-decoration: none;
  text-align: center;
  color: white; 
  padding: 0.8em;
  transition: background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: rgb(146, 193, 253);
  color:#0a192f;
}

main {
  padding: 0;
}

section {
  margin-bottom: 20px;
}

h1 {
  padding-top: 3em;
  font-size: 2em;
  color: #0a192f; /* Navy blue color */
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.about-p{
  max-width: 80vw;
  max-height: 20vh;
  margin: 0 auto;
  text-align: justify;
}

#projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.project {
  width: 80%;
  height: auto;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 3em;

}

#project-header {
  margin-top: 0;
  display: block;
}

.project a {
  position: relative;
  display: block;
}

.project a:hover {
  background-color: #555;
}

.project a {
    position: relative;
    display: block;
}

.project img {
    width: 100%; /* Set the width to 100% to ensure responsiveness */
    height: 100%; /* Set a fixed height for uniformity */
    object-fit: cover; /* Maintain aspect ratio and crop if needed */
    transition: transform 0.3s ease; /* Add a transition for smoother hover effect */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 
}

.project .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 27, 61, 0.6); 
    color: #fff;
    text-align: center;
    opacity: 0;display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.project:hover .project-overlay {
    opacity: 0.8; 
}

.contact-sec{
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 5em;
}

.contact{
  text-align: center;
  display: flex;
  justify-content: center;
}

.contact a {
  color: #fff;
  text-decoration: none;
  margin: 0 2em;
  font-size: 2em; 
 
}

.contact a:visited {
  color: white; 
}

.contact a:active {
  color: #ffcc00; 
}

.contact a:hover{
  color: rgb(146, 193, 253);
}

footer {
  width: 100%;
  background: linear-gradient(to top, #0a192f, #020c1b);
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    padding: 1em;
  }

  .main-nav li {
    margin-right: 5em;
  }

  h1 {
    font-size: 1.5em;
    padding-top: 2em;
  }

  .about-p {
    font-size: 14px;
  }

  #projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project {
    width: 90%;
  }

  .project img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .contact-sec {
    padding-top: 3em;
  }

  .contact a {
    font-size: 1.5em;
  }

  footer {
    padding: 0.5em;
  }
}
